

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutReception.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Display("ID")
        </th>
        <th>
           @Html.Display("Name")
        </th>
        <th>
            @Html.Display("Phone 1")
        </th>
        <th>
           @Html.Display("Phone 2")
        </th>
       
      
    
       
        <th></th>
    </tr>
    @{ 
        var x = ViewBag.data;
    }
@foreach (var item in x) {
    <tr>
        <td>
           @item.WalkinID
        </td>
        <td>
            @item.Fullname
        </td>
        <td>
            @item.Phone1
        </td>
        <td>
            @item.Phone2
        </td>
       
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WalkinID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WalkinID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WalkinID })
        </td>
    </tr>
}

</table>
